[Desktop Entry]
Type=Application
Name=Papyrus
Comment=Animated wallpaper manager for COSMIC
Exec=/usr/bin/papyrus
Icon=io.github.PSGtatitos.papyrus
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
Keywords=wallpaper;animated;video;COSMIC;
